node_modules
public
.env*
.env.dev
!.env.template
*.log
.DS_Store
storage/public
.vercel
dist
uploads
.codegpt


# amazon_tokens_client.json
# amazon_tokens_sandbox.json
# ebay_tokens_client.json
# ebay_tokens_sandbox.json


firebase-admin
data
diagram.excalidraw

